


.App {
  text-align: center;
}



.App-header {
  background-color: #ffeaa7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




.rcorners1 {
  border-radius: 25px;
  background: #e17055;
  padding: 20px;
  width: 500px;
  height: 600px;
  overflow: auto;
  box-shadow: 5px 10px 8px #888888;
}


.double:after {
    border-bottom: 2px solid rgb(99, 211, 96);
    -webkit-box-shadow: 0 4px 0 0 red;
    -moz-box-shadow: 0 4px 0 0 rgb(255, 196, 0);
    box-shadow: 0 3px 0 0 red;
    content: "";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute;
    top: calc(50% - 6px);
    left: 0;
    right: 0;
    width: 95%;
    z-index: -1;
    transform: translateY(calc(-50% + 3px));
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding: 60px
}


.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4.5px #999;
  font-family: DejaVu Sans Mono, monospace;
  font-size: 20px;
  margin: 3px;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px rgb(235, 231, 202);
  transform: translateY(4px);
}

.btn {
  height: 80px;
  line-height: 80px;  
  width: 80px;  
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #A6C2ED;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-family: DejaVu Sans Mono, monospace;
  box-shadow: 0 3px rgb(243, 219, 191);
}
.btn:hover {background-color: #92a3ec}


.btnreveal {
  height: 50px;
  line-height: 50px;  
  width: 50px;  
  font-size: 1em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #A6C2ED;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 11px;
  font-family: DejaVu Sans Mono, monospace;
  box-shadow: 0 3px rgb(243, 219, 191);
}
.btnreveal:hover {background-color: #92a3ec}

h1 {
  font-family: DejaVu Sans Mono, monospace;
  font-size: 35px;
  color:#ffeaa7;
}

.vertical {
  margin-top: 75px;
}

.morevert {
  margin-top: 125px;
}

.vertbottom {
  margin-bottom: 50px;
}

.inline {
    display: inline-block;
}

p {
   font-family: DejaVu Sans Mono, monospace;
}